<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Type Prediction</title>
</head>
<body>
    <h1>Predict Doctor Type</h1>
    <form method="POST" action="/predict">
        <label for="comment">Enter your comments:</label><br>
        <textarea name="comment" rows="5" cols="50" placeholder="Enter your comments here"></textarea><br><br>
        <button type="submit">Predict Doctor Type</button>
    </form>
</body>
</html>
